*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Comic Sans MS", "Comic Sans";
}

:root{
    --button-Color:#eff5fb;
    --operator-color:#8195edd5;
    --equal-color:#3e36e3;
    --button-border-color:#6f99f4;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
    background: #EFE9F4;
    background: linear-gradient(90deg,rgba(239, 233, 244, 1) 0%, rgba(80, 120, 242, 1) 100%);
}

.container {
    background-color: white;
    padding: 2.5rem;
    border-radius: 1rem;
    width: 90%;
    max-width: 450px;
    border: 4px solid var(--button-border-color)
}


h1 {
    text-align: center;
    margin-bottom: 30px;
}

#output-field {
    display:grid;
    width: 100%;
    background: transparent;
    letter-spacing: 1px;
    border-radius: 0.5rem;
    padding: 0.5rem;
    font-size: 25px;
    text-align: right;
    overflow: hidden;
    color: black;
    border: 2px solid var(--button-border-color)
}

.button-row {
    display: flex;
    margin: 10px;
}

button {
    padding: 0.5rem;
    font-size: 25px;
    margin-right: 2.5px;
    margin-left: 2.5px;
    background: var(--button-Color);
    border-radius: 0.5rem;
    width: 100%;
    border: 2px solid var(--button-border-color);
    transition: all 0.1s ease;
}

#equals {
    color: white;
    background: var(--equal-color);
}

.operator-btn {
    background: var(--operator-color);
}

button:hover {
    transform: translateY(-2px);
}

button:active {
    transform: translateY(0);
}
