* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Comic Sans MS", "Comic Sans";
    background-color:aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    text-align: center;
    width: 100%;
    padding: 1.2rem;
}

h1 {
    color: #333;
    margin-bottom: 20px;
    font-size: 2rem;
}

.board {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    gap: 20px;
}

.list {
    background-color: #bfc5c6;
    padding: 1rem;
    border-radius: 8px;
    width: 30%;
    min-height: 450px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    border: 3px solid #5e6679;
}

.list h2 {
    color: #444;
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

.card {
    background-color: white;
    color: #333;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    cursor: grab;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: all 0.2s;
}

.card:active {
    cursor: grabbing;
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.list.over {
    background-color: #909798;
}

@media (max-width:768px) {
    .board {
        flex-direction: column;
        align-items: center;
    }

    .list {
        width: 80%;
        margin-bottom: 20px;
    }

}